.container {
  flex-direction: column; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#fff;
  max-width: 450px;
  margin: auto;
  border-radius: 30px;
  box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
  padding: 16px;
}

.row {
  display:  flex;
  margin: 10px;
}
.topic {
  display: inline;
  padding:5px 30px;
  background-color:  #E6D6FC;
  border-radius: 20px;
  font-size: 12px ;
  font-weight: bold;
  color: #883AE1;
}
.col { 
  margin: 10px;
}
.title {
  font-size: 18px;
  font-weight: 700;

}
.description {
  font-size: 14px;
}
.img-card {
  height: 200px;
  width: 100%;
  justify-items: center;
  border-radius: 20px;
}

.footer {
  width: 100%;
  border-top: 2px solid #E5EAF0;
  display: flex;
  justify-content: flex-start;
  padding-left: 18px;

}